.unity-button:hover {
    scale: 1.2 1.2;
    transition-property: scale, translate;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease, ease;
    translate: 0 -3px;
    transform-origin: center;
}

.hidden {
    visibility: visible;
    display: none;
}
